.animeCard{
    margin: 0.5rem;
    max-width: 15rem;
    max-height: 21.2rem;
    border-radius: 0.75rem;
    margin-top: 0;
    transition: 0.3s;
    padding-bottom: 1rem;
    padding-top: 1rem;
    
}

.animeCard:hover .overlay {
    transform: scale(1);
    opacity: 1;
    height: 90%;
        
}

.images {
    width: 15rem;
    height: 21.2rem;
    border-radius: 0.75rem;
    
}

.cardContainer{
    text-overflow: clip;
    position: relative;

}

@font-face {
    font-family: "KanitMedium";
    src: local("KanitMedium"),
    url("../Fonts/Kanit/Kanit-Medium.ttf") format("truetype");
}

.gradient {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, 
                              rgba(10, 10, 10,0.9) 0%, 
                              rgba(45, 45, 45,0.9030023094688222) 24%, 
                              rgba(128,128,129,0) 51%, 
                              rgba(255,255,255,0) 100%);
    border-radius: 0.75rem;
}

.cardTitle { 
    position: absolute;
    bottom: 0.2rem;
    color: white;
    margin: 0.4rem;
    font-family: 'KanitMedium';
    font-weight: 400;
    font-size: 1.25rem;
}

    .overlay{
        position: absolute;
        bottom: 0;
        width: 13rem;
        height: 0;
        padding: 1rem;
       /* background-color: rgba(212,187,163,0.9);*/
       background-color: white;
        border-radius: 3rem 0 0 0 ;
        text-align: justify;
        opacity: 0;
        transition: 0.5s;
        font-family: "KanitMedium";
    }
 .synopsis{
        width: 80%;
        height: 50%;
        margin: 0 auto;
        padding: 1rem;
        overflow: auto;
    }
   