.navBar {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(13,13,13,0.7) 30%, rgba(26,26,26,0) 100% 5rem);
    margin: 0;
    display: flex;
    align-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 12vh;
    flex-direction:row;
    align-items: center;
    border-radius: 0 0 1rem 1rem;
}
body{
    background-color: #1A1A1A; 
}

.homeIcon {
    background: white;
    margin: 0.6rem;
    border-radius: 50%;
    border-style: none;
    height: 3rem;
    width: 3.75rem;
    display: block;
}

.searchThing {
    display: flex;
    height: 3rem;
    align-items: center;
}

.searchBar {
    
    width: 0.8rem;
    height: 2.5rem;
    padding: 0;
    border: none;
    
}

.searchIcon {
    background: white;
    margin-left: 0.2rem;
    border-radius: 50%;
    border-style: none;
    height: 3.2rem;
    width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.searchIcon:hover {

    border-radius: 50% 0% 0% 50%;
}

.searchBar:hover{

    width: 14rem;
    height:3.2rem;
     border:none;
     border-radius:20px;
   
}

.spacer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.listIcon {
    background: white;
    margin: 0.6rem;
    border-radius: 50%;
    border-style: none;
    height: 3rem;
    width: 3.75rem;
    display: block;
}

.accountIcon {
    background: white;
    margin: 0.6rem;
    position: fixed;
    margin-right: 1.5rem;
    border-radius: 50%;
    border-style: none;
    height: 3rem;
    width: 3.5rem;
}



